node_modules
*.iml
.idea
*.log*
.nuxt
.vscode
.DS_Store
coverage
dist

.vercel

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
